<!DOCTYPE html>
<html>
	<head>
		<title>本の情報</title>
	</head>
	<body>
		<dl>
			<dt>書籍名</dt>
			<dd><%= @book.name %></dd>
			<dt>価格</dt>
			<dd><%= @book.price %></dd>
			<dt>発売日</dt>
			<dd><%= @book.published_on.to_s %></dd>
		</dl>
	</body>
</html>